.cont{
    max-width: 90%;
    width: 100%;
    background-color: rgba(133, 166, 141, 0.08);
    display: flex;
    margin: auto;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 40px;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,.15);
}