*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  }
footer{

    background-color: #4C571C;
    color: #fff;
    height: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}