.product-quantity{
    display: flex;
    margin-left: 5px;
    margin-bottom: 1rem;
    max-width: 300px;

    
    button{
        font-size: 2rem;
        text-align: center;
        

        cursor: pointer;
      
        height: 40px;
        width: 80px;
        border: none;
        &:focus{
            outline: none;
        }
    }
    input{
        max-width: 80px;
        max-height: 40px;
        border: none;
        text-align: center;

        &:focus{
            outline: none;
        }

    }
    
}