.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
   input[type="submit"] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #38A69B;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 3px;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #1F6373;
  }
  .checkout{
 
    h1{
      text-align: center;
      padding-bottom: 1rem;

    }
    button{
      width: 300px;
      background-color: #38A69B;
      padding: 1rem;
      outline: none;
      border: none;
      color: #fff;
      border-radius: 4px;
      margin-top: 2rem;


  }
  }
  .sucess{
    margin:auto;
    .purchase{
      display: flex;
      justify-content: center;
      div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
          font-size: 1.5rem;
          font-weight: 500;
        }
        
      }
    }
    p{
      align-items: center;
      text-align: center;
    }
    h1{
      margin-bottom: 3rem;
    }
    img{
      width: 100%;
      max-width: 400px;
      height: 100%;
      max-height: 300px;
    }
    
  }